h1 Žánry

a href=routes.genre_path(genre: 'antifona') antifony
a< href=routes.genre_path(genre: 'responsorium') responsoria (krátká)
a< href=routes.genre_path(genre: 'responsorium.pr') responsoria k modlitbě se čtením
