<!DOCTYPE html>
<html>
  <head>
    <title>Databáze zpěvů | In adiutorium</title>
    <%= favicon %>
  </head>
  <body>
    <nav>
      <a href="/">Domů</a>
      <a href="/zpevy">Zpěvy</a>
    </nav>
    <%= yield %>
  </body>
</html>
