<!DOCTYPE html>
<html>
  <head>
    <title>Databáze zpěvů | In adiutorium</title>
    <%= favicon %>
  </head>
  <body>
    <nav>
      <a href="/">Domů</a>
      <a href="/zpevy">Zpěvy</a>
    </nav>
    <%= yield %>
    <footer>
      <p>
        Powered by <a href="http://hanamirb.org/" rel="external">Hanami</a>.
      </p>
    </footer>
  </body>
</html>
